@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration:none;
    font-family: 'Inter', sans-serif;
}

#cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1495px;
    height: 65px;
    margin-left: 0px;
    background-color: #0088FF;
}

#cabecalho img{
    padding-left: 5px;
    padding-top: 5px;
}

#tela-cheia{
    transition: transform 0.3s;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
    padding-top: 23px;
    padding-right: 10px;
}

#tela-cheia:active {
    transform: scale(1.2);
  }

#cabecalho i{
    width: 55px;
    height: 55px;
    padding-top: 5px;
    padding-left: 1245px;
    color: white;
}

nav{
    position: absolute;
    top: 111px;
    bottom: 0;
    height: 74%;
    left: 0;
    background: #C3BFBF;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}

.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span{
    font-weight: 700;
    font-size: 18px;
    padding-left: 15px;
    text-transform: uppercase;
}

a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;

}

.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover{
    background: gray;
}

nav:hover{
    width: 280px;
    transition: all 0.5s ease;
}

.sair{
    position: absolute;
    bottom: 0;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1495px;
    height: 50px;
    background-color: #C3BFBF;
    margin-left:0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.container input{
    margin-right: -20px;
}

.relatorio-nfe i{
    left: 180px;
    top: 13px;
    color: rgb(85, 83, 83);
}

.relatorio-nfe p{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding-left: 245px;
    margin-top: -25px;
    color: rgb(85, 83, 83);
}
.cnpj{
    padding-right: 550px;
}

.cnpj input{
    margin-top: 15px;
    margin-right: 15px;
    text-align: center;
    width: 200px;
    height: 40px;
    margin-top: 3px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 10px;
}

.agrupar{
    display: flex;
    width: 890px;
    height: 50px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-left: 300px;
}

.agrupar p{
    font-weight: 500;
    font-size: 15px;
}

.agrupar input{
    width: 200px;
    height: 40px;
    background-color: #C3BFBF;
    color: black;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 10px;
}

.tabela {
    width: 93%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-left: 96px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    text-align: center;
    padding: 10px;
    border: 1px solid #C3BFBF;
    opacity: 0.5;
  }
  
  th:first-child,
  td:first-child {
    text-align: left;

  }
  
  .fa-search {
    font-size: 14px;
  }
  
  thead {
    background-color: #043873;
    color: white;
  }
  
  th {
    position: relative;
  }
  
  th:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    height: 50%;
    width: 1px;
    background-color: #C3BFBF;
    opacity: 0.5;
  }
  
  th:last-child::after {
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    height: 100%;
    width: 1px;
    background-color: #C3BFBF;
    opacity: 0.5;
  }
  
  tbody tr:last-child td {
    border-bottom: 1px solid #C3BFBF;
    opacity: 0.5;
  }
  
  input[type="checkbox"] {
    transform: scale(0.8);
  }
  
  /* Estilos para as células com ícones */
  td i {
    display: block;
    margin: auto;
    width: 16px;
    height: 16px;
    color: #043873;
  }
  
  /* Estilos para as células com ícone de importar */
  td .fas.fa-file-import:before {
    content: "\f56f";
  }
  
  /* Estilos para as células com ícone de exportar */
  td .fas.fa-file-export:before {
    content: "\f56e";
  }

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 1495px;
    height: 76px;
    background-color: #C3BFBF;
    margin-top: 4px;
}

footer i{
   padding-left: 220px;
   color: rgb(85, 83, 83);
}

footer button{
    margin-right: 1055px;
    margin-top: 9px;
    border: none;
    background-color: transparent;
    color: rgb(85, 83, 83);
}

